<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/userview :: htmlhead(title='个人财务管理系统首页')"></head>
<body class="am-with-topbar-fixed-top am-scrollable-vertical">
<div th:replace="layout/userview :: header"></div>
<div class="am-cf userview-main">
    <div th:replace="layout/userview :: sidebar"></div>
    <div class="userview-content">

        <div class="am-tabs am-g am-g-fixed am-animation-fade myfromtable" data-am-tabs>
            <ul class="am-tabs-nav am-nav am-nav-tabs">
                <li><a href="#tab1">消费数据信息查询</a></li>
            </ul>
            <div class="am-tabs-bd">
            <div class="am-tab-panel am-fade" id="tab1">
                <div class="index am-g am-g-fixed am-animation-fade">
                    <form class="am-form am-form-horizontal" th:action="@{/PersonalFinance/showdata/ShowCostList}">
                        <div class="am-form-group ">
                            <label for="start_date" class="am-u-sm-3 am-form-label">start_date</label>
                            <div class="am-u-sm-9 am-radio">
                                <input type="text" class="am-form-field" id="start_date" placeholder="请选择日期" data-am-datepicker readonly required name="start_date" />
                            </div>
                        </div>
                        <div class="am-form-group ">
                            <label for="end_date" class="am-u-sm-3 am-form-label">end_date</label>
                            <div class="am-u-sm-9 am-radio">
                                <input type="text" class="am-form-field" id="end_date" placeholder="请选择日期" data-am-datepicker readonly required name="end_date" />
                            </div>
                        </div>

                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button type="submit" class="am-btn am-btn-primary">消费数据信息查询</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
        <div th:replace="layout/userview :: footer"></div>
    </div>


</div>


<!-- home.js -->
<script th:src="@{/amazeui/assets/js/home.js}"></script>
<div th:replace="layout/userview :: footer"></div>


</body>
</html>