<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/userview :: htmlhead2(title='个人财务管理系统首页eerrr')"></head>
<body>
<div th:replace="layout/userview :: header"></div>
<div class="am-cf userview-main">
    <div th:replace="layout/userview :: sidebar"></div>
    <div class="userview-content-report">
        <div class="content">
            <div class="am-g">
                <div class="am-u-md-12">
                    <div class="card-box">
                        <form action="" th:action="@{/PersonalFinance/showData/ShowPropertyList}" method="post">
                            <ul class="hypz gjpz clearfix">
                                <li class="clearfix">
                                    <span class="title">开始日期：</span>
                                    <div class="li_r">
                                        <input type="text" class="am-form-field" id="start_date" placeholder="请选择日期"
                                               data-am-datepicker readonly required name="start_date"
                                               th:value="${start_date}"/>
                                    </div>
                                    <span class="title">结束日期：</span>
                                    <div class="li_r">
                                        <input type="text" class="am-form-field" id="end_date" placeholder="请选择日期"
                                               data-am-datepicker readonly required name="end_date"
                                               th:value="${end_date}"/>
                                    </div>
                                </li>
                                <li class="tj_btn">
                                    <button type="submit">查询</button>
                                    <a href="/PersonalFinance/exportData/exportPropertyList">导出</a>
                                </li>
                            </ul>

                        </form>
                    </div>
                </div>
            </div>
            <div class="am-g">
                <div class="am-u-md-12">
                    <div class="card-box">
                        <h4 class="header-title m-t-0 m-b-30">各账户明细</h4>
                        <div class="am-scrollable-horizontal am-text-ms" style="font-family: '微软雅黑';">
                            <table class="am-table am-table-bordered">
                                <thead>
                                <tr>
                                    <th>日期</th>
                                    <th>微信1</th>
                                    <th>微信1</th>
                                    <th>支付宝1</th>
                                    <th>支付宝2</th>
                                    <th>招商</th>
                                    <th>交通</th>
                                    <th>建设</th>
                                    <th>北京</th>
                                    <th>茂名邮政</th>
                                    <th>北京邮政</th>
                                    <th>工商</th>
                                    <th>总计</th>
                                    <th>备注</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="Property : ${list}">
                                    <td th:text="${#calendars.format(Property.record_date,'yyyy-MM-dd')}"></td>
                                    <td th:text="${Property.wechat1}"></td>
                                    <td th:text="${Property.wechat2}"></td>
                                    <td th:text="${Property.alipay1}"></td>
                                    <td th:text="${Property.alipay2}"></td>
                                    <td th:text="${Property.zhaoshang}"></td>
                                    <td th:text="${Property.jiaotong}"></td>
                                    <td th:text="${Property.jianshe}"></td>
                                    <td th:text="${Property.beijing}"></td>
                                    <td th:text="${Property.maomingyouzheng}"></td>
                                    <td th:text="${Property.beijingyouzheng}"></td>
                                    <td th:text="${Property.gongshang}"></td>
                                    <td th:text="${Property.all_sum}"></td>
                                    <td th:text="${Property.remarks}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Row end -->
            </div>

        </div>
        <!-- end right Content here -->
        <!--</div>-->
    </div>
</div>
<script type="text/javascript" src="assets/js/jquery-2.1.0.js" th:src="@{/assets/js/jquery-2.1.0.js}"></script>
<script type="text/javascript" src="assets/js/amazeui.min.js" th:src="@{/assets/js/amazeui.min.js}"></script>

<script type="text/javascript" src="assets/js/blockUI.js" th:src="@{/assets/js/blockUI.js}"></script>
<script type="text/javascript" src="assets/js/charts/echarts.min.js"
        th:src="@{/assets/js/charts/echarts.min.js}"></script>
</body>


</html>
