<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/userview :: htmlhead2(title='个人财务管理系统首页eerrr')"></head>
<body>
<div th:replace="layout/userview :: header"></div>
<div class="am-cf userview-main">
    <div th:replace="layout/userview :: sidebar"></div>
    <div class="userview-content-report">
        <div class="content">
            <div class="am-g">
                <div class="am-u-md-12">
                    <div class="card-box">
                        <form action="" th:action="@{/PersonalFinance/analyse/analyseCostByType}" method="post">
                            <ul class="hypz gjpz clearfix">
                                <li class="clearfix">
                                    <span class="title">开始日期：</span>
                                    <div class="li_r">
                                        <input type="text" class="am-form-field" id="start_date" placeholder="请选择日期"
                                               data-am-datepicker readonly required name="start_date"
                                               th:value="${start_date}"/>
                                    </div>
                                    <span class="title">结束日期：</span>
                                    <div class="li_r">
                                        <input type="text" class="am-form-field" id="end_date" placeholder="请选择日期"
                                               data-am-datepicker readonly required name="end_date"
                                               th:value="${end_date}"/>
                                    </div>
                                </li>
                                <li class="tj_btn">
                                    <button type="submit">查询</button>
                                </li>
                            </ul>

                        </form>
                    </div>
                </div>
            </div>
            <div class="am-g">
                <div class="am-u-md-12">
                    <div class="card-box">
                        <h4 class="header-title m-t-0 m-b-30">收入明细</h4>
                        <div class="am-scrollable-horizontal am-text-ms" style="font-family: '微软雅黑';">
                            <table class="am-table am-table-bordered">
                                <thead>
                                <tr border="1" cellspacing="0">
                                    <th>consume_date</th>
                                    <th>consume_name</th>
                                    <th>project_fee</th>
                                    <th>consume_fee</th>
                                    <th>consume_type</th>
                                    <th>consume_category</th>
                                    <th>pay_way</th>
                                    <th>remarks</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="Cost : ${costList}" border="1" cellspacing="0">
                                    <td th:text="${#calendars.format(Cost.consume_date,'yyyy-MM-dd')}"></td>
                                    <td th:text="${Cost.consume_name}"></td>
                                    <td th:text="${Cost.project_fee}"></td>
                                    <td th:text="${Cost.consume_fee}"></td>
                                    <td th:text="${Cost.consume_type}"></td>
                                    <td th:text="${Cost.consume_category}"></td>
                                    <td th:text="${Cost.pay_way}"></td>
                                    <td th:text="${Cost.remarks}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Row end -->
            </div>

        </div>
        <!-- end right Content here -->
        <!--</div>-->
    </div>
</div>
<script type="text/javascript" src="assets/js/jquery-2.1.0.js" th:src="@{/assets/js/jquery-2.1.0.js}"></script>
<script type="text/javascript" src="assets/js/amazeui.min.js" th:src="@{/assets/js/amazeui.min.js}"></script>

<script type="text/javascript" src="assets/js/blockUI.js" th:src="@{/assets/js/blockUI.js}"></script>
<script type="text/javascript" src="assets/js/charts/echarts.min.js"
        th:src="@{/assets/js/charts/echarts.min.js}"></script>
</body>


</html>
