<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html>
<head>
    <meta charset="utf-8">
    <title>登陆</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="layui/css/layui.css" th:href="@{/layui/css/layui.css}" media="all">
    <link rel="stylesheet" href="css/login.css" th:href="@{/layui/css/login.css}">
</head>
<body>
<div class="login-wrap">
    <div class="login-main">
        <div class="logo-wrap">
            <div class="logo-text">
                <span class="ch-logo"><br></span>
                <span class="en-logo">个人财务管理系统</span>
            </div>
        </div>
        <form class="am-form tpl-form-line-form" th:action="@{/loginfrom}" method="post">
        <div class="login-content layui-form">
            <ul class="input-group">
                <li>
                    <input type="text" name="username" lay-verify="title" autocomplete="off" placeholder="请输入账号" class="layui-input user-input">
                </li>
                <li>
                    <input type="password" name="password"  lay-verify="pass" placeholder="请输入密码" autocomplete="off" class="layui-input password-input">
                </li>
            </ul>
            <div class="keep-pwd">
                <input type="checkbox" name="forget[write]" lay-skin="primary" title="记住用户密码" checked="">
            </div>
            <div class="btn-wrap">
                <button class="layui-btn layui-btn-warm" lay-submit="" lay-filter="sub-btn">立即提交</button>
            </div>
        </div>
       </form>
    </div>
</div>
<script src="layui/layui.js" th:src="@{/layui/layui.js}" charset="utf-8"></script>
<script>
    layui.config({
        base:'layui/lay/modules/js/' //你的模块目录
    }).use('login'); //加载入口
</script>

</body>
</html>