<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<span th:text="${message}"></span>
<div class="am-g">
    <div class="am-u-sm-12">
        <table class="am-table am-table-bd am-table-striped userview-content-table">
            <thead>
            <tr>
                <th>consume_date</th>
                <th>consume_name</th>
                <th>project_fee</th>
                <th>consume_fee</th>
                <th>consume_type</th>
                <th>consume_category</th>
                <th>pay_way</th>
                <th>remarks</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="Cost : ${list}">
                <td th:text="${#calendars.format(Cost.getConsume_date(),'yyyy-MM-dd')}"></td>
                <td th:text="${Cost.getConsume_name()}"></td>
                <td th:text="${Cost.getProject_fee()}"></td>
                <td th:text="${Cost.getConsume_fee()"></td>
                <td th:text="${Cost.getConsume_type()}"></td>
                <td th:text="${Cost.getConsume_category()}"></td>
                <td th:text="${Cost.getPay_way()}"></td>
                <td th:text="${Cost.getRemarks()}"></td>
            </tr>


            </tbody>
        </table>
    </div>
</div>
</body>
</html>