<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<page layout="landscape"
	style="background: white;display: block;margin: 0 auto;margin-bottom: 0.5cm;box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);">
<body class="am-with-topbar-fixed-top am-scrollable-vertical"
	style="font-family: SimSun;size:297mm 210mm;">

	<p style="margin: 0; margin-bottom: 20px;">
		你好，这是你<span th:text="${startdate}" />至<span th:text="${enddate}" />
		的个人收支财务分析报告，请查收！
	</p>
	<p style="margin: 0; margin-bottom: 20px;">
		一，收入情况，你本月有<span th:text="${incomelen}" />笔收款，合计<span
			th:text="${incomesum}" />元，以下是详细的收入情况：
	</p>
	<div class="am-g">
		<div class="am-u-sm-12">
			<table
				class="am-table am-table-bd am-table-striped userview-content-table"
				border="1" cellspacing="0" style="text-align:center">
				<thead>
					<tr>
						<th>months</th>
						<th>details</th>
						<th>recamount</th>
						<th>recdate</th>
						<!-- <th>remarks</th> -->
					</tr>
				</thead>
				<tbody>
					<tr th:each="Income : ${incomelist}">
						<td th:text="${Income.months}"></td>
						<td th:text="${Income.detail}"></td>
						<td th:text="${Income.rec_amount}"></td>
						<td th:text="${Income.rec_datesw}"></td>
						<!-- 	<td th:text="${Income.remarks}"></td> -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<br></br>
	<p style="margin: 0; margin-bottom: 20px;">
		二，支出情况，你本月共有<span th:text="${costlen}" />笔支出，合计<span
			th:text="${costsum}" />元，以下是详细的支出情况：
	</p>
	<div class="am-g">
		<div class="am-u-sm-12">
			<table
				class="am-table am-table-bd am-table-striped userview-content-table"
				border="1" cellspacing="0" style="text-align:center;border-collapse:collapse;">
				<thead>
					<tr>
						<th>consumedate</th>
						<th>consumename</th>
						<!-- <th>project_fee</th> -->
						<th>consumefee</th>
						<th>consumetype</th>
						<th>consumecategory</th>
						<th>payway</th>
						<!-- <th>remarks</th> -->
					</tr>
				</thead>
				<tbody>
					<tr th:each="Cost : ${costlist}">
						<td th:text="${Cost.consume_datesw}"></td>
						<td th:text="${Cost.consume_name}"></td>
						<!-- <td th:text="${Cost.project_fee}"></td> -->
						<td th:text="${Cost.consume_fee}"></td>
						<!-- <td th:text="${Cost.consume_type}"></td> -->
						<td th:text="${Cost.consume_category}"></td>
						<td style="empty-cells:show;" th:text="${Cost.pay_way}"></td>
						<!-- <td th:text="${Cost.remarks}"></td> -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<br></br>
	<p style="margin: 0; margin-bottom: 20px;">
		三，账户余额情况，经统计：</p>
	<p>
		你期初（<span th:text="${startdate}" />）余额为：<span
			th:text="${startproperty}" />元，期末（<span th:text="${enddate}" />）
		余额为：<span th:text="${endproperty}" />元。
	</p>
	<p style="margin: 0; margin-bottom: 20px;">
		以下为本月期末（<span th:text="${enddate}" />）余额情况：
	</p>
	<div class="am-g">
		<div  style="magin:0 auto;">
			<table
				class="am-table am-table-bd am-table-striped userview-content-table"
				border="1" cellspacing="0" style="text-align:center">
				<tbody th:each="Property : ${endpropertylist}">
					<tr>
						<th>recorddate</th>
						<td th:text="${Property.record_datesw}"></td>
					</tr>
					<tr>
						<th>wechat1</th>
						<td th:text="${Property.wechat1}"></td>
					</tr>
					<tr>
						<th>wechat2</th>
						<td th:text="${Property.wechat2}"></td>
					</tr>
					<tr>
						<th>alipay1</th>
						<td th:text="${Property.alipay1}"></td>
					</tr>
					<tr>
						<th>alipay2</th>
						<td th:text="${Property.alipay2}"></td>
					</tr>
					<tr>
						<th>zhaoshang</th>
						<td th:text="${Property.zhaoshang}"></td>
					</tr>
					<tr>
						<th>jiaotong</th>
						<td th:text="${Property.jiaotong}"></td>
					</tr>
					<tr>
						<th>jianshe</th>
						<td th:text="${Property.jianshe}"></td>
					</tr>
					<tr>
						<th>beijing</th>
						<td th:text="${Property.beijing}"></td>
					</tr>
					<tr>
						<th>mmyz</th>
						<td th:text="${Property.maomingyouzheng}"></td>
					</tr>
					<tr>
						<th>bjyz</th>
						<td th:text="${Property.beijingyouzheng}"></td>
					</tr>
					<tr>
						<th>gongshang</th>
						<td th:text="${Property.gongshang}"></td>
					</tr>
					<tr>
						<th>all_sum</th>
						<td th:text="${Property.all_sum}"></td>
					</tr>


				</tbody>
			</table>
		</div>
	</div>



	<p style="margin: 0; margin-bottom: 20px;">四，本月具体分析情况</p>
	<p style="margin: 0; margin-bottom: 20px;">
		期初余额<span th:text="${startproperty}" />元+本月收入合计<span
			th:text="${incomesum}" />元-本月期末余额<span th:text="${endproperty}" />元=<span
			th:text="${subtract_property}" />元
	</p>
	<p style="margin: 0; margin-bottom: 20px;">
		本月支出合计<span th:text="${costsum}" />元，两个维度统计相差<span
			th:text="${diffcost}" />元。
	</p>


</body>
</page>
</html>