<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<nav class="navbar-default navbar-static-side" role="navigation" th:fragment="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">


                <li>
                    <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">商品管理</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse" style="display: block;">
                        <li id="itemManage"><a th:href="@{itemManage_0_0_0}">商品管理</a></li>
                        <li id="stockManage"><a th:href="@{stockManage_0_0_0}">库存管理</a></li>
                        <li id="itemCategoryManage"><a th:href="@{itemCategoryManage_0_0_0}">商品分类</a></li>
                        <li id="recoverManage"><a th:href="@{recoverManage_0_0_0}">回收管理</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
</body>
</html>



